.after-mitigate {
    grid-column: 5/8;
    text-align: center;
}

.algo-dropdown {
    margin: 1rem 0rem;
    display: inline;
}

.algo-half {
    margin: 1rem 0rem;
}

.algo-heading {
    display: inline;
}

.before-mitigate {
    grid-column: 1/4;
    text-align: center;
}

.comparison > p{
    margin: 2rem 5rem;
}

.comparison.page-box {
    padding: 1rem 0rem;
}

.comparison .choices {
    text-align: center;
}

.compare .legend-box {
    grid-column: 4/6;
}

.compare .graph-box {
    padding: 0rem 3rem;
    margin: 1rem 0rem;
}
.compare .result-box{
    margin: 1rem 3rem;
}

.choices {
    padding: 0rem 1rem;
}

.choices li {
    width: auto;
}

.evaluate textarea {
    margin: 1rem 0rem;
    min-height: 100px;
}

.evaluate h5 {
    margin-bottom: 2rem;
    margin-top: 1rem;
}