.algo-title td{
    width: 250px;
    margin: 0rem 1rem;
    padding: 0rem 1rem;
    border: solid;
    max-height: 200px;
}

.algo-title {
    margin: 0rem auto;
    border-spacing: 3rem 0rem;
    border-collapse: separate;
}

.algo-title td:hover {
    cursor: pointer;
}

.dataset-algo {
    margin: 1rem 1rem;
    padding-top: 1rem;
}

.dataset-algo h3{
    margin-top: 1rem;
    font-size: large;
    font-weight: bold;
}

.dataset-algo ul {
    padding: 0rem;
}
.dataset-algo ul li{
    width: 200px;
}

.mitigation h2 {
    margin-bottom: 2rem;
}

/* .phase-choice > div{
    margin: 1rem 0rem;
} */


.phase-choice img:hover {
    cursor: pointer;
}

.submit-mitigation {
    width: 500px;
    margin: auto;
    margin-top: 1rem;
}

.submit-mitigation button {
    margin: 1rem;
}

