.algo-title td{
    width: 250px;
    margin: 0rem 1rem;
    padding: 0rem 1rem;
    border: solid;
    max-height: 200px;
}

.algo-title {
    margin: 0rem auto;
    border-spacing: 3rem 0rem;
    border-collapse: separate;
}

.algo-title td:hover {
    cursor: pointer;
}

.dataset-algo {
    margin: 1rem 1rem;
    padding-top: 1rem;
}

.dataset-algo h3{
    margin-top: 1rem;
    font-size: large;
    font-weight: bold;
}

.dataset-algo ul {
    padding: 0rem;
}
.dataset-algo ul li{
    width: 200px;
}

.mitigation h2 {
    margin-bottom: 2rem;
}

/* .phase-choice > div{
    margin: 1rem 0rem;
} */


.phase-choice img:hover {
    cursor: pointer;
}

.signin-popup {

}

.submit-mitigation {
    width: 700px;
    margin: 1rem auto;
    margin-top: 0rem;
    padding: 1rem 0rem;
    border-bottom: 1px solid black;
}

.form-part {
    margin: 1rem;
}

.submit-history {
    width: 700px;
    margin: auto
}

.submit-history th {
    /* width: 25%; */
}

.submit-history table {
    border-collapse: separate;
    border-spacing: 1rem 0.5rem;
    width: 100%;
}

.id-col {
    width: 10%;
}

.mitigation-new {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}