
.bar-icon {
    height: 16px;
    width: 16px;
    margin: 0em auto;
    border: solid;
    border-radius: 50%;
    background-color: white;
  }
  
.bar-icon::before, .bar-icon-completed::before {
    content: '';
    background: #000;
    height: 2px;
    width: 120%;
    display: block;
    position: absolute;
    left: -75%;
    top: 9px;
    z-index: -1;
}

.bar-icon-completed {
    height: 16px;
    width: 16px;
    margin: 0em auto;
    border: solid;
    border-radius: 50%;
    background-color: #BAB9B9;
}

.bar-icon-uncompleted {
    height: 16px;
    width: 16px;
    margin: 0em auto;
    border: solid #989797;
    border-radius: 50%;
    background-color: white;
}

.bar-icon-uncompleted::before {
    content: '';
    background: #989797;
    height: 2px;
    width: 120%;
    display: block;
    position: absolute;
    left: -75%;
    top: 9px;
    z-index: -1;
}
  
.last-cat::before {
    content: none
  }

  .step-progress {
    margin: auto;
  }

  .step-progress p {
    font-size: small;
  }
  
  ul {
    text-align: center;
    padding: 0em 5em;
  }
  
  ul li {
    display: inline-block;
    width: 100px;
    margin: 0rem 1rem;
    vertical-align: top;
    position: relative;
  }