
@media only screen and (max-width: 992px) {
  .bar-icon::before, .bar-icon-completed::before {
    content: none;
  }
  .step-ul {
    padding: 0rem;
    display: none;
  }

  .step-mini {
    margin-top: 1rem;
  }
  
  .step-mini li {
    text-align: left;
  }
}

@media only screen and (min-width: 992px) {
  .bar-icon::before, .bar-icon-completed::before {
    content: '';
  }
  .step-mini {
    display: none;
  }
  .current-step-mini {
    display: none;
  }
}

.bar-icon {
    height: 16px;
    width: 16px;
    margin: 0em auto;
    border: solid;
    border-radius: 50%;
    background-color: white;
  }

.bar-icon + p {
  font-weight: bold;
}
  
.bar-icon::before, .bar-icon-completed::before {
    background: #000;
    height: 2px;
    width: 120%;
    display: block;
    position: absolute;
    left: -75%;
    top: 9px;
    z-index: -1;
}

.bar-icon-completed {
    height: 16px;
    width: 16px;
    margin: 0em auto;
    border: solid;
    border-radius: 50%;
    background-color: #BAB9B9;
}

.bar-icon-uncompleted {
    height: 16px;
    width: 16px;
    margin: 0em auto;
    border: solid #989797;
    border-radius: 50%;
    background-color: white;
}

.bar-icon-uncompleted::before {
    content: '';
    background: #989797;
    height: 2px;
    width: 120%;
    display: block;
    position: absolute;
    left: -75%;
    top: 9px;
    z-index: -1;
}
 
.question-btn {
  background-color: #C4C4C4;
  /* margin-bottom: 50%; */
  padding: 1rem 1.5rem;
  grid-column-start: 12;
  border-radius: 10px;
  font-weight: bold;
}

.question-btn:hover {
  cursor: pointer;
}

.last-cat::before {
  content: none
}

  .step-progress p {
    font-size: small;
  }

  .step-ul {
    margin: auto;
    padding-top: 1rem;
  }

  .step-ul li:hover {
    cursor: pointer;
  }
  
  ul {
    text-align: center;
    padding: 0em 5em;
  }
  
  ul li {
    display: inline-block;
    width: 100px;
    margin: 0rem 1rem;
    vertical-align: top;
    position: relative;
  }

  #navbar {
    background-color: #364B44;
  }

  #navbar-brand {
    font-size: 1rem;
    color: white;
  }

  #navbar-dropdown {
    color: white;
  }