.check-box {
    height: 16px;
    width: 16px;
    background-color: #E0DEDE;
    display: inline-block;
    margin-right: 1rem;
    border: solid 1px;
}

.check-box:hover {
    cursor: pointer;
}

#cauc.active {
    background-color: #EB9FEE;
}

#aae.active {
    background-color: #85D27B;
}

.check-group {
    margin-bottom: 1rem;
}

.choices {
    text-align: left;
    margin-bottom: 0;
    padding-left: 0rem;
    /* padding-left: 1rem; */
}

.choices a {
    text-decoration: none;
}

.choices .active {
    background: #E0DEDE;
    font-weight: bold;
}

.choices li {
    background-color: #BAB9B9;
    padding: 0.5rem 1rem;
    /* margin: 0rem 1rem; */
    /* border-radius: 10px 10px 0 0; */
    text-align: center;
}

.choices li:hover {
    cursor: pointer;
}

.constraint ul{
    padding: 0rem;
    text-align: left;
}

.constraint ul li {
    width: auto;
    display: block;
    list-style-type: none;
    margin: 0.5rem 0rem;
}

#dataset-tab,#model-tab {
    margin-left: 0rem;
}

.explain-box {
    grid-column: 6/ 8;
    /* width: 10em; */
}

.graph-box {
    max-width: 100%;
    height: auto;
    margin-top: 2.5rem;
}

.interact-component {
    margin-bottom: 2rem;
}

.interact-container {
    background-color: #fafafa;
    padding: 1rem 5rem;
}

.legend-box {
    margin: 1em 0em;
    height: 6em;
    text-align: left;
    padding-left: 0;
    list-style-type: none;
}

.legend-box li {
    display: list-item;
    width: auto;
    text-align: left;
    margin: 1.5rem 0.5rem;
    position: relative;
}

.legend-box li::before {
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

#legend-nontoxic::before {
    background: green;
}

#legend-toxic::before {
    background: blue;
}

.result-box {
    border: solid 5px;
    padding: 1rem;
}

.result-box h2 {
    text-align: center;
    margin-bottom: 0.5em;
    margin-top: 0em;
}

.result-box ul {
    padding: 0rem 1rem;
    list-style-type: none;
}
.result-box li {
    display: list-item;
    width: auto;
    text-align: left;
    margin: 0.5rem 0rem;
    position: relative;
}

.toxic-thres {
    grid-column: span 2;
}

.vis-header {
    padding: 0rem 5rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.vis-header h1 {
    grid-column: 3/11;
}
.visual-container {
    padding: 2em;
    margin-left: 0rem;
    margin-right: 0rem;
}

.visual-dataset li {
    margin: 1rem 0rem;
    display: block;
}

.visual-dataset ul {
    padding: 0rem;
    text-align: left;
}

.visual-model h3, .visual-dataset h3 {
    text-decoration: underline;
}

.visual-model {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.visual-model li {
    margin-left: 0rem;
    margin-bottom: 1rem;
    width: auto;    
    display: block;
}

.visual-model ul {
    text-align: left;
    padding: 0rem;
}

.visualization h1 {
    padding: 0rem 0rem;
    margin: 0rem;
    text-align: center;
}

.visualization.page-box {
    padding: 1rem 0rem;
}

.visualization-new {
    text-align: center;
}

.visualization-new-container {
    border-top: 1px solid #e1e4e8;
    display: flex;
}
.visualization-new h1 {
    font-size: 2rem;
}

.graph-left {
    flex: 8;
    border-right: 1px solid #e1e4e8;
    padding-top: 1rem;
}

.graph-left .scatter-chart {
    margin: 1rem 3rem;
}

.scatter-chart {
    height: 400px;
}
.interactive-right {
    flex: 5;
    background-color: #fafafa;
}

.interactive-choice {
    flex: 1;
    padding: 0.5rem 0rem;
    cursor: pointer;
}

.interactive-choice.active {
    font-weight: bold;
    border-bottom: 2px solid;
}

#interactive-controller {
    height: 50%;
}

.interact-tab {
    border-bottom: 1px solid #e1e4e8;
}

#visual-result {
    border-top: 1.5px solid #d2d5da;
    padding-top: 1rem;
}

.associated-words {
    border-top: 1px solid #e1e4e8;
    padding: 1rem 3rem;
    text-align: left;
    height: 150px;
    overflow: auto;
    background-color: #fafafa;
}
.associated-words h4 {
    font-size: 1.25rem;
}

.load-btn {
    margin-top: 1rem;
}

.word-container {
    margin: 1rem 0rem;
    text-align: left;
    padding: 0rem;
}

.word-tag {
    background-color: #6C9688;
    margin: 0rem;
    text-align: center;
    padding: 4px 1rem;
    width: auto;
    margin: 0.25rem 0.5rem;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
}

.word-tag img {
    margin-left: 1rem;
    cursor: pointer;
}

.word-tag span {
  display: inline-flex;
  align-items: center;
}

#result-table {
    padding: 1rem;
}

.btn-green {
    background-color: #364B44;
    color: white;
}

.btn-green:hover {
    color: white;
    background-color: #2e413a;
}

#help-tag {
    margin-left: 1rem;
}

.info-icon {
    margin-left: 1rem;
}

.loader {
    position: fixed;
    background-color: white;
    left: calc(50% - 25%);
    top: 30%;
    width: 50%;
    min-height: 40%;
    z-index: 100;
    border-radius: 5px;
    padding-top: 2rem;
}

.loader-bg {
    position: fixed;
    background-color: rgba(128, 128, 128, 0.295);
    height: 100vh;
    width: 100vw;
    z-index: 99;
}

.spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #2e413a; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: 2rem auto;
  }
  
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}