.introduction-page {
  background-color: #fafafa;
  /* margin: auto 1rem; */
  padding: 1rem 4rem;
  /* border-radius: 10px; */
  min-height: 95vh;
}

.introduction-page a {
  font-style: normal;
  text-decoration: none;
  color: white;
}

.App {
}

.App h1 {
  margin-bottom: 2rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.accept-comment {
  grid-row: 2;
}

.comment-label {
  font-weight: bold;
  margin-bottom: 1rem;
}

.comment-sample {
  background-color: white;
  text-align: center;
  padding: 1rem 1rem;
  margin: 1rem 0rem;
  border-radius: 10px;
  border: 1px solid black;
  min-height: 100px;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto;
}

.page-box {
  background-color: #C4C4C4;
  padding: 1rem 5rem;
}

.page-box h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.mt {
  margin-top: 1em;
}

.p {
  margin: 1rem 0rem;
}

.intro-navbar {
  background-color: #364B44;
  color: white;
  text-align: left;
}

#intro-span {
  color: white
}

.start-btn {
  margin: 1rem;
}

/*@media screen and (min-height: 911px) { */
  .main-application {
   /* height: 100vh; */
    /* background-color: black; */
   height: calc(100% - 80px);
  }
/* } */

.chartjs-size-monitor {
  overflow-y: none !important;
}

html, body {
  height: 100%;
}


#root {
  height: 100%;
}

.rootDiv {
  height: 100%;
}

.barChartPlaneList {
  list-style: none;
}
